body {
    background-image: url("https://slack-redir.net/link?url=https%3A%2F%2Fi.pinimg.com%2Foriginals%2Fdf%2Ffc%2Fa7%2Fdffca74282382587f9b3d221a5c6593c.jpg"); 
    background-repeat: repeat-y ;
    background-size: 120%;  
}
input{
    outline: none;
    border-radius: 5px;
}
/*Primera pagina de registro*/
#title{
    width: 331px;
    margin-left: 470;
    margin-top: 8%;
}
.inputWithIcon i{
    position: relative;
    top: -18px;
    margin-left: 175px;  
}
.fas.fa-unlock-alt, .fas.fa-envelope{
    margin-top: 0%;
    margin-left: 90%;
}
.field{
    width: 200px  
}
#button{
    margin-left: 20px;
    margin-top: 1%;
}
#registerButton,#loginButton{
 border-radius: 4px;
 background-color:white;
 border: none;
 color: black;
 text-align: center;
 font-size: 15px;
 padding: 3px;
 width: 80px;
 cursor: pointer;
}
#passwordTextfield{
    margin-top: 1%; 
}
#facebook{
    background-image: url("https://cdn.icon-icons.com/icons2/478/PNG/128/facebook_47004.png");
    background-repeat:no-repeat;
    background-size: 65px;
    height:40px;
    width:60px;
    background-position:center;
    border-radius: 35px;
    margin-top: 10%;
    margin-left: 20%;
}
#google{
     background-image:url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBw8PEBEPDxAODQ4QDw4OEA8QEBAQFQ8PFRIWFhURFhMZHSggJBolGxUTJTEiJSkrLi4uFx8zODMtNygtLisBCgoKDg0OGhAQGC0iHx0tLSstKystLS0rKy0tLSstLS0tKy0tLS0rLS0tLS0tLS0tLS0tLS0rLS0rLS0tNys3Lf/AABEIAL4BCQMBEQACEQEDEQH/xAAbAAEAAgMBAQAAAAAAAAAAAAAAAQYEBQcDAv/EAD8QAAICAAIGBAsGBQUBAAAAAAABAgMEEQUGEjFBUSFhcYEHEzIzUlRykrHB0RciQmKRoRYkU3OyIzSC8PEU/8QAGgEBAAIDAQAAAAAAAAAAAAAAAAEFAgMEBv/EACsRAQACAQMCBQUAAgMAAAAAAAABAgMEETEFEhMhQVFSFBUiMmFCsSMzgf/aAAwDAQACEQMRAD8A7iAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABmAA+HbFb5RXeiN2XbPsRsi9zT7GhuiazHo+8yUGYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAB8gYGltM4fCx2rrFFvdFdMpdkUa7XrXmW/DpsmadqQpOlPCBbLNYauNcfTs+9LtUd36nNfVfFd4OiRHnklWsXpzF2+cxFss+ClsL9I5HPbNaeZWmPQYKcVYUrZPfKT7ZMw7pdMYaR6QRtkt0prsk0O6UThpP+MM/CafxlPm8RauqT21+kszOua8cS5snT8F+arPorwgyWUcVWpL+pV0PtcH8jopq/S0KrP0X1xT/5K7aO0nTiY7dNkbI8cn0xfJrejqretuJUmXBfFba8bMwzakgAAAAAAAAAAAAAAAAAAAAAAAAABGYFQ1s1wWHzow+U790p741dXXLqObNn7fKFtoOmTm/O/lX/AG5xiMRO2TsslKyct8pPNs4bWmfOXp8WGmONqxtDyMW0IAAAJSEIZGAxtuHmrKZuua4rc1ya4ozreazvDRn0+PLXa8Orap6eeNqcpVuucGoyeT2JvnF/LgWWLJ3w8hrdLGnv2xO7fG1xgAAAAAAAAAAAAAAAAAAAAAAABDAqWvOsbw0fEUvK+a+9L+nDn2vgc2fL2xtHK16bovGt3W/WHMm+L6W+lt8XzK+Z3esrWK+UIDIIQ9sLhLLns1VztlyhFvLtM60m3DVkz48cb2nZuadTsfJZ+J2fanFG2NPeXDbq2nr6ov1Qx8Fn4na9mUWROnvCa9V09vVpsRh51y2bITrlynFxf7mqazHLux5qZPOsvIxbG91W1cnjZ7Tzhh4v78/S/LHr6+B0YsPdO8qvX9Qrgjav7Or4PDQqhGuuKhCKSUVwRYxERG0PJ3va891vVkEsQAAAAAAAAAAAAAAAAAAAAAAAAxtIYnxVU7Mtpxi2o+k+CNeXLGOvdLPFTvtFfdxPH4iy22dlufjJyblnwfLsW4qpv3z3e73Gmx1x44rXiHgQ3gJXLVbUx3KN2K2oVPJwqXRKa5yfBHZh0+/5WUGv6r2z2Yufd0LCYSumKhVCNcVuUUkdlYiOHn75LXne0vfIlgEjFx+j6cRBwuhGyL5rd1p8GY2rFuYbMea+Od6zspVng+/mFs2fyu+Wflr8i+pyzpY7v4uY6zbwtpj8l5wmGhVCNdcVCEVlGK4I6oiIjaFJe83t3W5exkxSAAAAAAAAAAAAAAAAAAAAAAAAQwNFrJf5Na9t/IoOs59ojGsNDTeZsqelNFQvWfkWcJ8+pop8Gqtjnb0XWHPbHP8AFTxWFnVLZmsnw5Nc0y5x5a5I3haY8lbx5LJqHoFYm13WLOmlrJPdOzel2Lf+h3afFvO8qnq2tnHXw68y6giweW33fQSAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEMgVPTE9q6fU1Fdy/9PH9Sv3Z5XOkrtjhhFe6Xji8LC2OzNZrhzT5pm3DktS34s65Jx+cLfoDR0cNh66Y8Fm3xlKTzbfez22CP+OFDqcs5cs2lscjc0AHxdZsxlLfsxcsueSzJiN52RM7Rupq8INfq9nvxLSOlXn/KHDOuiPRP2gV+r2e/En7Vf5QfXV9j7QK/V7PfiPtN/lB9dX2PtBr9Xs9+I+03+UH11fY+0Cv1ez34j7Tf5QfXV9j7QK/V7PfiPtV/lB9dX2b3V7TscbCc4wdexPZcZNPgmn0f96Dh1OnnBbaXThzRkjeG3OZuCQAAAAAAAAAAAAAAAAAAACGRPApuNf8Aq2e3L4niNZ/3WXuD9IeBytr7pWcor80fibsERN6x/WOT9ZXaJ7qvEPPpMgA8Mb5uz+3P/FmVP2hjb9ZcUjuXYewrwoJ5STsgAAAA8hePBpL/AHC/sv8AyKLq0bWrKy0M+UrwioWCSQAAAAAAAAAAAAAAAAAAACGRIp+kY5W2L87PFa6u2ey808744YxxtyYSyafJp/ubMU7XiWN43rsu1Us0nzSZ7rFbupEqCY2l9mxAB4Y3zdn9uf8AizKn7Qxt+suKR3LsPX14UE8pMgAAAgAvPg0h0YiXXVH9FJ/MourT+UQstDHlK7lSsEgAAAAAAAAAAAAAAAAAAAAhkCsafp2bdrhNJ966H8jyvV8XZl7vda6K+9NvZrSpiN3ZNoiN5aTSemss4UvN7nZwXs/UttLoN/zu8/r+rxG9cS3aiaW8fh/FTedtP3Xm+mUH5L+XcelwTHbt7OPS5/Er58rMbnWkCJRTTTWaaaa5oDWfw7gvVqPcibvqcvylq8HH7H8PYL1aj3ET9Tl+UngY/Y/h7BerUe4iPqcvyk8HH7Kfr5RhqXVVTVVXN52TcIpPZ3JfH9C26bbJaZtaZmHDrK0rtFYVIuIhw+oQh0jwe4fZwrnudlspdySivgzznUr92bb2W2jrtTdaEV7sSAAAAAAAAAAAAAAAAAAAACANXrDRnS58a859Cz+7l0lb1LS+Nj/HmG/BnjFMzPDmWk9LStzjDOFf7yXX9Dg02ijH525VWv6nfNPbTyq1p3qeZZuiNJWYW2N1e9dEo8Jx4xZnS0xLbiyzjtvDrGiNKVYqtWVPPPyovfCXJo7a2i0eS8x5a3jeGcZNqQIAZgYWltJ1YauVtryS3R4zlwilzNmHDbLbtrDXkyRSN5cm0njp4i2d0/Kk93CMeEV2HqdPhjFSKwpsl5vbeWKbmp9Qg5NRis5SailzbeSRjktFYmWVY3ts7JorBqimupfghGPfx/c8llv33m3uvcde2sQyzWzAAAAAAAAAAAAAAAAAAAAAAPmazWT6U96IRMbuU62aEeEueyn4ixuVb9HnDu4dRyZabTupNVgmk/yWjNLlCUMrR+Ptw81ZTNwlxy3SXJrc0TW014bceW1J3hddF6+1tJYmuVcvTh96L7t6/c6a549Vjj11Z/ZvatZsDJZrEVL2ns/Ez76+7qjU459S3WbAx34it+y9r4CclY9SdTjj1aTSWvtUVlh4Stl6U/uRXdvMLZo9HNk19Y/WFK0jpO7Ez27pub4LdGK5JHdoOoRinttHKvvmted5Yx6jHlrkjessQ2C16haIdlv/ANM1/p1PKGf4refcv3ZU9T1O1fDj15d2jw7z3T6OioolokAAAAAAAAAAAAAAAAAAAAAAAYGFpXR1eKqdVizi9z4xlwkusxtXujaWvJji9dpcp03oe3CWOFizi/IsS6Jx+vUcd6TVR58E4p2lrjW0gAADcAAAJTO/Sa7Jgt/ExLa6A0NZjLNiOca1l4yzLoiuS/N1Hop6lj8Lujl1YMU5ZdWwWEhTXGqtbMILJL5vrKK97XtNp5XNKxWNoZCMWQAAAAAAAAAAAAAAAAAAAAAAAAAMXHYKq+DrtgpwfB8OtPmRNYnlhekXja0Ofac1Mupbnh876t+z+OK7OPcc18Mx5wq82jtXzqq8otNppxkuhprJp9aNEw4ZrMcoDEISACUJim2kk230JJZt9iCYjfhZ9B6m3XNTvzoq35fjkupcO83UwzPLuw6O1vO3DoeBwVdEFXVFQgtyXxfWdURERtC1pjikbQySWYAAAAAAAAAAAAAAAAAAAAAAAAAAEACBg6R0Ph8R56qE3wlllJdkl0kTWJ5hqvhpfmFexWoFD6a7ba+p5TX1NU4Ict9BWeJYE/B9ZwxEMuut/Ux8D+tU9Pn3IeD6z8WIh3Vv6jwP6R0+fkz8LqBQvOW22dSygvqZRghtroKRzKwaN0Nh8N5mqEH6WWcn/wAn0mytIrw6qYaU4hn5GTakkAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAH//2Q==");
    background-repeat:no-repeat;
    background-size: 75px;
    height:40px;
    width:60px;
    background-position:center;
    border-radius: 35px;
}
#registryUser{
    background-color:rgb(209, 30, 7);
    width: 250px;
    margin: 0 auto;
    padding: 2%;
    border-radius: 10px;   
}
#page1{
    display: none;
}
/*Parte del menu*/
header {
    background-color:rgb(209, 30, 7);
    height: 70px;
}
#imgLogo{
    margin-top: -16%; 
    margin-right: 259px;
    margin-left: -874px;
}
.logo{
    width: 10%;
    margin-top: 103px;
    margin-left: 60px;
}
#menumain{
    padding: 0px;
    margin-left: 65%;
}
.menu{
    text-align:center;
    font-size: 18px;
    padding: 1% 2%;
    margin-top: 3%
}
.icono{
    color: white;
    padding: 3%;
}
/*Estilo de la tarjeta donde se imprime la primera informacion */
.infoUser{
    background-color: white;
    margin-top: 3%;
    width: 60%;
    height: 171px;
    margin-left: 400px;
    display: inline-block;  
}
.fas.fa-thumbs-up{
margin-left: 3%;
}
.numberLike{
        margin-left: 37%;
        margin-top: -20px;
}
.far.fa-user{
    margin-left: 128px;
    margin-top: 5%;
}
#name{
    margin-left: 126px;
    width: 2px;
    margin-top: 1%;
    
}
.title-class{
    margin-left: 127px;
}
.img-class{
    margin-left: 10px; 
    margin-top: -60px;
}
.iconoRecipes{
    margin-top: 2%;
    padding: 3px;
    margin-left: 14px; 
}
/* #root{
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    flex-wrap: wrap;
    align-items: baseline;
    margin-top: 5%; 
} */
/*Estilo de la tarjeta donde se imprime los ingredientes, instrucciones , edita y borra */
#card{
    background-color:white;
    width: 280px;
    height:505px; 
    margin-left: 550px;
    margin-top: 5%;
} 
h4{
    margin-top: 4%;
    margin-left: 8%;
}
.ingre{
    margin-left: 8%; 
}
.fas.fa-trash-alt{
    margin-left: 100px
}
.fas.fa-edit{
    margin-left: 10px
}
.img-class1{
    margin-top: 13%;
    margin-left: 21;
}
  
/*Estilo de la tareta donde se ingresa los datos de las receta y envia foto*/
#enter-login{
    background-color:#918A8A;
    width: 351px;
    margin: 0 auto;
    padding: 2%;
    border-radius: 10px;
    margin-top: 5%;
} 
p{
  margin-left: 30%;
}
#portions{
    margin-left: 41%;
}
#cost{
    margin-left: 41%;
}
#ingre{
    margin-left: 41%;
}
#titleRecipe{
    margin-left: 25%;
}
#idServes,#idTime,#idCost{
    margin-left: 25%;
}
#sendRecipe{
    margin-top: 5%;
    border-radius: 4px;
    background-color:white;
    border: none;
    color: black;
    text-align: center;
    font-size: 15px;
    padding: 3px;
    width: 80px;
    cursor: pointer;
    margin-left: 131px;
} 
#app4{
    margin-left: 145px;
}
#uploader{
    margin-left: 94px;
}
#idIngredients, #insRecipes{
    border-radius: 5px;
    margin-left: 16%;
}
 
.upload{
    margin-top: 1%;
}
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
   }
   
   /* Modal Content/Box */
   .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888; 
    width: 24%;
    margin-left: 542px;
    margin-top:10%;
   }
   
   /* The Close Button */
   .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
   }
   
   .close:hover,
   .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
   }
   .likeHeart{
     height: 15px;
     width: auto;
   }