body {
    background-color: #918A8A;  
}
.menu{
    text-align:center;
    font-size: 18px;
    padding: 2% 2%;
}

 /* #registro{
   margin-left: 35%;
   margin-top: 3%;
  
  }
  
  #email,#contrasena,#email2,#contrasena2 {
   width: 60%;
   height: 20%;
   margin-left: 25%;
   margin-top: 2%;
  
  }*/
#registrar {
  width: 30%;
  height: 20%;
  margin-left: 42%;
  margin-top: 2%;
}
.fa, .fas {
  height: 5px;
}
header {
  background-color:#A40C0C;
  height: 70px;
        
}
#page2{
    display: none;
}
.icono{
  color: white;
  padding: 3%;
}
#menumain{
    padding: 0px;
    margin-left: 1%;
} 
